CompileFlags:
  Add: 
    - -std=c++98
    - -Wall
    - -Wextra
    - -Werror
    
#    # macOS system includes
#    - -I/usr/local/include
#    - -I/Library/Developer/CommandLineTools/usr/lib/clang/17/include
#    - -I/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include
#    - -I/Library/Developer/CommandLineTools/usr/include
#    - -F/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/System/Library/Frameworks
    
    # project includes - try both with and without trailing slashes
    - "-I/Users/ilia/Documents/42CC/IRC/includes"
    - "-I/Users/ilia/Documents/42CC/IRC/includes/parsing"
    - "-I/Users/ilia/Documents/42CC/IRC/includes/channels"
    - "-I/Users/ilia/Documents/42CC/IRC/includes/clients" 
    - "-I/Users/ilia/Documents/42CC/IRC/includes/commands"
    - "-I/Users/ilia/Documents/42CC/IRC/includes/server"
    - "-I/Users/ilia/Documents/42CC/IRC/test/include"
# Diagnostics configuration
#Diagnostics:
#  ClangTidy:
#    Add: 
#      - -readability-*
#      - -performance-*
#      - -modernize-*
#    Remove:
#      - modernize-use-trailing-return-type

## Index configuration
#Index:
#  Background: Build  # Build index in background
#
## Completion configuration  
#Completion:
#  AllScopes: true
